@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
}

.logoo img {
    width: 80px;
    border: 2.5px solid white;
    border-radius: 50%;
    margin-left: 25px;
 }

.navbarrr {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    background-color: black;
    position: sticky;
    top: 0;
    /* height: 100px; */
}

.navvv-list {
    /* border: 2px solid green; */
    display: flex;
    direction: row;
    width: 100%;
    list-style: none;
    justify-content: space-evenly;
}

.navvv-list li {
    /* border: 2px solid orange; */
    margin: 0 25px;
    font-size: 25px;
    padding-top: 25px;
    /* font-family: 'Lexend Zetta', sans-serif; */
    font-family: 'Pacifico', cursive;
}

.navvv-list li a {
    color: white;
    text-decoration: none;
}

a {
    /* text-decoration: none; */
}

.backgrnd {
    height: 89vh;
    /* border: 2px solid red; */
    border-top: 2px solid black;
    background: rgba(0, 0, 0, 0.75) url('../folder/img1.jpeg');
    background-size: cover;
    background-blend-mode: darken;
    color: white;
    font-family: 'Pacifico', cursive;
}

.container {
    padding-top: 35px;
}

h3 {
    text-decoration: underline;
}